<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new</title>
</head>
<body>
   <form method="post" action="/cash">
   <select name="type" id="">
        <option value="IN"> cash In</option>
        <option value="OUT">cash Out</option>
    </select>
    <input name="amount" placeholder="Enter amount" type="number"> <br> <br>
    <button>submit</button>
   </form>
</body>
</html>